<div class="tile is-ancestor">
  <div class="tile is-parent is-light">

      <div class="content">
        <p class="title">Navigation</p>
        <div class="field">
          <template v-for="term in terms">
            <div class="control" style="margin: .5em 0;cursor: pointer;">

          <span class="tag is-large" v-on:click="currentTerm = term" :id="term.slug">
        {{ term.name }} ({{ term.count }})
          </span>


            </div>
          </template>

        </div>


      </div>

  </div>
  <div class="tile is-vertical is-9">
    <article class="tile is-child notification is-white">
      <div class="content">
        <p class="title">{{ currentTerm.name }}</p>
        <div class="content">



          <div id="list-grid" class="columns is-multiline">

            <div class="column is-half grid-item animated fadeInUp" v-for="post in assets_posts">
              <div class="card assets-card">
                <div class="card-content">
                  <div class="columns">
                    <div class="column is-2">
                      <img v-bind:src=" post.link | clearBit" v-bind:alt="post.title.rendered">
                    </div>
                    <div class="column">
                      <header class="entry-header">
                        <h2 class="entry-title">{{ post.title.rendered }}</h2>
                        <a target="_blank" rel="no-follow" v-bind:href="post.link">
                          {{ post.link | hostName }}
                        </a>
                      </header>
                      <div v-html="post.content.rendered"></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>


        </div>
      </div>
    </article>
  </div>

</div>

