#masthead{
  background: #ffffff;
  margin: 0 0 1em;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #35b729;

  .nav{
    background: none;
  }
  .section {
    padding: 1rem 1.5rem;
  }
  #svg-logo{
    margin: 1em auto;
    display: block;
    float: none;
    width: 60px;
    path {
      fill:#35b729
    }
    text {
      fill: #fff;
    }
  }
  .custom-header {
    width: 180px;
    margin: auto;
    display: block;
  }

  #mobile-toggle{
    margin: 0;
    padding: 0;
    width: 80px;
    height: 60px;
    text-align: center;
    display: none;
    &.cross {
      path#top,
      path#bottom {
        stroke-dashoffset: -650px;
      }
      path#middle {
        stroke-dashoffset: -115px;
        stroke-dasharray: 1px 220px;
      }
    }
    &.cross path#middle {
      stroke-dashoffset: -115px;
      stroke-dasharray: 1px 220px;
    }

    svg {
      width: 80px;
      height: auto;
      cursor: pointer;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    path {
      fill: none;
      -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -moz-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -o-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      -ms-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
      stroke-width: 40px;
      stroke-linecap: round;
      stroke: $mainColor;
      stroke-dashoffset: 0px;
    }
    path#top,
    path#bottom {
      stroke-dasharray: 240px 950px;
    }
    path#middle {
      stroke-dasharray: 240px 240px;
    }

  }


}


@media screen and (max-width: 768px) {
  #masthead{
    #mobile-toggle{
      display: inline-block;
    }
  }

}