.home{
  .section {
    background: none;
  }
  .site-content-contain{
    background: #33b3db url("assets/images/home/blue-red-painted-brick-68510.jpeg");
    background-size:cover ;
    background-position: 50% 85%;
  }
}