.post {
  .card {

    .card-image {

    }
    .card-content {
      .entry-title {
        line-height: 1.2;
        margin-top:0;
      }

      .link-more {
        margin: 10px 0 0;
        font-size: 12px;
      }
    }

  }
}